<%= layout_header %>

<table>
  <tr>
    <th>Name</th>
    <%= stat_header(:jobs_enqueued) %>
    <%= stat_header(:jobs_performed) %>
    <%= stat_header(:jobs_failed) %>
    <%= stat_header(:job_rolling_avg) %>
    <%= stat_header(:longest_job) %>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.name %></td>      
      <%= display_stat(job, :jobs_enqueued,   :number_display) %>
      <%= display_stat(job, :jobs_performed,  :number_display) %>
      <%= display_stat(job, :jobs_failed,     :number_display) %>
      <%= display_stat(job, :job_rolling_avg, :time_display) %>
      <%= display_stat(job, :longest_job,     :time_display) %>
    </tr>
  <% end %>
</table>

