<h1>Resque Job Histories</h1>

<p class="intro">
  This page displays histories of jobs that have been executed.
</p>

<h2><%= @job_class %></h2>

<table>
  <tr>
    <th>Start time</th>
    <th>Duration</th>
    <th>Arguments</th>
    <th>Execution</th>

    <%# new - fork %>
    <th>Time spend waiting</th>
    <th>Jobs in the queue at time of execution</th>
  </tr>
  <% @histories.each do |history| %>
    <tr>
      <td><%= DateTime.parse(history["run_at"]).strftime("%m/%d/%Y %H:%M:%S") %></td>
      <td><%= history["duration"] %></td>
      <td><%= history["args"].inspect %></td>
      <td class="<%= history["exception"] ? 'exception' : 'success' %>"><%= history["exception"] ? history["exception"]["name"] : 'Success'  %></td>
      <td><%= history["been_in_the_queue_for"] %></td>
      <td><%= history["number_of_jobs_in_queue"] %></td>
    </tr>
  <% end %>
</table>

<style>
  .exception {
    background: #fff0f4;
    color: #c51244;
  }

  .success {
    background: #d4edda;
    color: #155724;
  }
</style>

<%if @start > 0 || @start + @limit <= @size %>
<p class='pagination'>
  <% if @start - @limit >= 0 %>
    <a href="<%= current_page %>?start=<%= [0, @start - @limit].max %>&limit=<%= @limit %>" class='less'>&laquo; less</a>
  <% end %>
  <% if @start + @limit <= @size %>
    <a href="<%= current_page %>?start=<%= @start + @limit %>&limit=<%= @limit %>" class='more'>more &raquo;</a>
  <% end %>
</p>
<%end%>

